.hljs {
  background: var(--code-background);
  color: var(--code-theme-color-1);
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-number,
.hljs-name,
.hljs-tag .hljs-name {
  color: var(--code-theme-color-2);
}

.hljs-attribute,
.hljs-attr,
.hljs-symbol,
.hljs-regexp,
.hljs-link,
.hljs-code {
  color: var(--code-theme-color-3);
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--code-theme-color-4);
}

.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--code-theme-color-5);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: var(--code-theme-color-comment);
  font-variation-settings: var(--font-variation-mono),
    var(--font-variation-slant-full), var(--font-variation-cursive);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: var(--font-weight-bold);
}

pre code.hljs::-webkit-scrollbar {
  display: none;
}

pre code.hljs {
  padding-right: var(--spacing-container-x);
  padding-left: var(--spacing-container-x);
  border: var(--border-width) solid var(--code-border);
  text-shadow: var(--code-text-shadow);
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0.5rem 0 0.5rem 0;
}
