.hljs {
  background: var(--background-2);
  color: rgb(78, 93, 115);
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-number,
.hljs-name {
  color: rgb(67, 129, 56);
}

.hljs-attribute,
.hljs-attr,
.hljs-symbol,
.hljs-regexp,
.hljs-link,
.hljs-code {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: rgb(166, 86, 156);
}

.hljs-title.class_,
.hljs-class .hljs-title {
  color: rgb(7, 121, 197);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: rgb(115, 131, 154);
  font-variation-settings: var(--font-variation-mono),
    var(--font-variation-slant-full), var(--font-variation-cursive);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: var(--font-weight-bold);
}

pre code.hljs {
  padding-right: var(--spacing-container-x);
  padding-left: var(--spacing-container-x);
}
