body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

#page {
  width: 100%;
  padding: 4rem 0 0 0;
}

main {
}

h1 {
  font-size: var(--text-xxl);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h2 {
  font-size: var(--text-xl);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h3 {
  font-size: var(--text-lg);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h4,
h5,
h6 {
  font-size: var(--text-md);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

p {
  font-size: var(--text-md);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-base);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

/* blockquotes? code blocks? */
main > p,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
  padding: 0 var(--spacing-container-x) 0 var(--spacing-container-x);
}

@keyframes hover {
  0% {
    font-variation-settings:
      'CASL' 0,
      'MONO' 0,
      'slnt' 0;
    font-weight: var(--font-weight-base);
  }
  100% {
    font-variation-settings:
      'CASL' 0.5,
      'MONO' 0,
      'slnt' -10;
    font-weight: var(--font-weight-bold);
  }
}

@keyframes codehover {
  0% {
    font-variation-settings:
      'CASL' 0,
      'MONO' 1,
      'slnt' 0;
    font-weight: var(--font-weight-base);
  }
  100% {
    font-variation-settings:
      'CASL' 0.75,
      'MONO' 1,
      'slnt' -10;
    font-weight: var(--font-weight-bold);
  }
}

a,
a:focus,
a:active,
a:visited {
  font-family: var(--font-family-sans);
  font-size: var(--text-md);
  font-weight: var(--font-weight-base);
  text-decoration: none;
  color: blue;
}

a:hover {
  color: magenta;
  animation: hover 0.1s forwards ease;
}

code {
  padding: var(--spacing-text);
  border-radius: 5px;
  background: aliceblue;
  font-size: var(--text-md);
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-base);
  font-variation-settings:
    'CASL' 0,
    'MONO' 1;
}

a:hover > code,
a:focus > code {
  animation: codehover 0.1s forwards ease;
}

/* hover animation looks weird. */
em {
  font-variation-settings:
    'CASL' 0.5,
    'MONO' 0,
    'slnt' -10,
    'CRSV' 1;
}

strong,
strong > a {
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  #page {
    max-width: 768px;
  }
}
