body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--background-1);
}

#page {
  width: 100%;
  padding: 4rem 0 0 0;
}

main {
}

h1 {
  font-size: var(--text-xxl);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  color: var(--color-2);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h2 {
  font-size: var(--text-xl);
  color: var(--color-2);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h3 {
  font-size: var(--text-lg);
  color: var(--color-2);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

h4,
h5,
h6 {
  font-size: var(--text-md);
  color: var(--color-2);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0,
    'MONO' 0;
}

p {
  font-size: var(--text-md);
  color: var(--color-1);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-base);
  margin-bottom: var(--text-margin-bottom);
  font-variation-settings:
    'CASL' 0.4,
    'MONO' 1;
}

/* blockquotes? code blocks? */
main > p,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6,
main > small {
  padding: 0 var(--spacing-container-x) 0 var(--spacing-container-x);
}

/* TODO variable-ize variation settings */

@keyframes hover {
  0% {
    font-variation-settings:
      'CASL' 0,
      'MONO' 1,
      'slnt' 0;
    font-weight: var(--font-weight-base);
  }
  100% {
    font-variation-settings:
      'CASL' 0.5,
      'MONO' 1,
      'slnt' -2;
    font-weight: var(--font-weight-bold);
  }
}

@keyframes codehover {
  0% {
    font-variation-settings:
      'CASL' 0,
      'MONO' 1,
      'slnt' 0;
    font-weight: var(--font-weight-base);
  }
  100% {
    font-variation-settings:
      'CASL' 0.75,
      'MONO' 1,
      'slnt' -2;
    font-weight: var(--font-weight-bold);
  }
}

a,
a:focus,
a:active,
a:visited {
  outline: none;
  font-family: var(--font-family-sans);
  font-size: var(--text-md);
  font-weight: var(--font-weight-base);
  padding: var(--spacing-text);
  text-decoration: none;
  color: var(--color-3);
  border: 2px solid var(--background-1);
}

a:hover,
a:focus {
  /* TODO border box?? focus is weird */
  color: var(--color-2);
  background: var(--background-2);
  animation: hover 0.1s forwards ease;
}

a:focus {
  border: 2px solid var(--color-2);
  box-sizing: content-box;
}

code {
  padding: var(--spacing-text);
  /* TODO variableize border radius */
  border-radius: 5px;
  background: var(--background-2);
  font-size: var(--text-md);
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-base);
  font-variation-settings:
    'CASL' 0,
    'MONO' 1;
}

a:hover > code,
a:focus > code {
  animation: codehover 0.1s forwards ease;
}

/* hover animation looks weird. - should really get its own hover… */
em {
  font-variation-settings:
    'CASL' 0.5,
    'MONO' 0,
    'slnt' -10,
    'CRSV' 1;
}

strong,
strong > a {
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  #page {
    max-width: 768px;
  }
}
