header {
  padding: 1.5rem var(--spacing-container-x) 0 var(--spacing-container-x);
}

/* todo needs its own animation */

header a,
header a:hover,
header a:focus {
  font-size: var(--text-xl);
  padding: 0;
  font-variation-settings:
    'CASL' 0,
    'MONO' 1;
}

header a::before {
  background: var(--background-1);
}
