header {
  padding: 1.5rem 0 2rem 0;
  margin: 0 var(--spacing-container-x) 2rem var(--spacing-container-x);
  border-bottom: 2px solid var(--color-border);
}

header a,
header a:hover,
header a:focus {
  font-size: var(--text-xl);
  padding: 0;
}

header a::before {
  display: none;
}

header a::after {
  bottom: 0px;
}

header > div > a {
  position: relative;
  display: inline-block;
}

header span {
  display: inline-block;
  transition: transform var(--animation-time) var(--animation-style);
}

header > div {
  display: flex;
  justify-content: space-between;
}

.toggles-wrapper {
  display: flex;
  gap: 10px;
}

.toggle {
  width: 80px;
  height: 40px;
  background-color: var(--background-text-alt); /* TODO rename */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
}

.toggle-side {
  flex: 1;
  text-align: center;
  z-index: 1;
}

.toggle-slider {
  width: 30px;
  height: 30px;
  background-color: var(--text-header);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: left 0.3s ease;
}

.toggle-left {
  left: 44px;
}

.toggle-icon {
  fontsize: 24px;
  filter: var(--toggle-icon-filter);
  display: inline-block;
  position: relative;
}
