body.light {
  --color-dark-900: hsl(0, 0%, 16%);
  --color-dark-800: hsl(0, 0%, 21%);
  --color-mauve-700: hsl(344, 47%, 30%);
  --color-mauve-500: hsl(344, 47%, 68%);
  --color-mauve-100: hsl(344, 47%, 80%);
  --color-chartreuse-700: hsl(61, 66%, 30%);
  --color-chartreuse-500: hsl(61, 66%, 44%);
  --color-chartreuse-400: hsl(61, 66%, 55%);
  --color-sand-500: hsl(43, 59%, 70%);
  --color-sand-300: hsl(43, 59%, 75%);
  --color-sand-200: hsl(43, 59%, 81%);
  --color-sand-50: hsl(42, 100%, 92%);
  --color-red-500: hsl(6, 96%, 59%);
  --color-gold-700: hsl(42, 95%, 35%);
  --color-gold-500: hsl(42, 95%, 58%);

  --bg-color-1: var(--color-sand-50);
  --bg-color-3: var(--color-chartreuse-400);
  --bg-color-2: var(--color-mauve-100);
  --fg-color-1: var(--color-dark-900);
  --fg-color-2: var(--color-mauve-700);
  --fg-color-3: var(--color-dark-900);
  --fg-color-4: var(--color-dark-800);

  --toggle-icon-filter: none;
  --code-background: var(--color-dark-900);
  --code-border: transparent;
  --code-text-shadow: none;
  --code-theme-color-1: var(--color-sand-200);
  --code-theme-color-2: var(--color-chartreuse-500);
  --code-theme-color-3: var(--color-gold-500);
  --code-theme-color-4: var(--color-mauve-500);
  --code-theme-color-5: var(--color-red-500);
  --code-theme-color-comment: var(--color-sand-500);
}

body.dark {
  --color-grey-900: hsl(0, 0%, 16%);
  --color-grey-800: hsl(0, 0%, 21%);
  --color-grey-500: hsl(0, 0%, 58%);
  --color-grey-100: hsl(0, 0%, 92%);
  --color-berry-300: hsl(332, 40%, 63%);
  --color-berry-200: hsl(332, 40%, 70%);
  --color-sage-200: hsl(80, 29%, 61%);
  --color-mustard-200: hsl(40, 58%, 62%);
  --color-tomato-200: hsl(2, 69%, 71%);

  --bg-color-1: var(--color-grey-900);
  --bg-color-3: var(--color-grey-900);
  --bg-color-2: var(--color-grey-800);
  --fg-color-1: var(--color-grey-100);
  --fg-color-2: var(--color-sage-200);
  --fg-color-3: var(--color-berry-200);
  --fg-color-4: var(--color-grey-800);
  --toggle-icon-filter: grayscale(100%);
  --code-background: var(--color-grey-900);
  --code-border: var(--color-grey-500);
  --code-text-shadow: none;
  --code-theme-color-1: var(--color-grey-100);
  --code-theme-color-2: var(--color-mustard-200);
  --code-theme-color-3: var(--color-sage-200);
  --code-theme-color-4: var(--color-berry-300);
  --code-theme-color-5: var(--color-tomato-200);
  --code-theme-color-comment: var(--color-grey-500);
}

body.light.haxor {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #00ff00;
  --color-blue: hsl(240, 100%, 50%);
  --color-light-blue: hsl(240, 100%, 90%);

  --bg-color-1: var(--color-white);
  --bg-color-3: var(--color-green);
  --bg-color-2: var(--color-light-blue);
  --fg-color-1: var(--color-black);
  --fg-color-2: var(--color-blue);
  --fg-color-3: var(--color-black);
  --fg-color-4: var(--color-blue);
  --code-background: var(--color-blue);
  --code-border: transparent;
  --code-text-shadow: none;
  --code-theme-color-1: var(--color-white);
  --code-theme-color-2: var(--color-white);
  --code-theme-color-3: var(--color-white);
  --code-theme-color-4: var(--color-white);
  --code-theme-color-5: var(--color-white);
  --code-theme-color-comment: var(--color-white);
}

body.dark.haxor {
  --color-green-900: hsl(144, 100%, 3%);
  --color-green-800: hsl(142, 100%, 6%);
  --color-green-600: hsl(140, 100%, 15%);
  --color-green-300: hsl(138, 100%, 30%);
  --color-green-200: hsl(130, 100%, 42%);
  --color-green-100: hsl(120, 100%, 50%);
  --color-grey-100: hsl(0, 0%, 75%);

  --bg-color-1: var(--color-green-800);
  --bg-color-2: var(--color-green-900);
  --bg-color-3: var(--color-green-800);
  --fg-color-1: var(--color-grey-100);
  --fg-color-2: var(--color-green-200);
  --fg-color-3: var(--color-green-100);
  --fg-color-4: var(--color-green-300);
  --code-text-shadow: 0 0 3px var(--color-green-100);
  --code-background: var(--color-green-900);
  --code-border: var(--color-green-100);
  --code-theme-color-1: var(--color-green-100);
  --code-theme-color-2: var(--color-green-100);
  --code-theme-color-3: var(--color-green-100);
  --code-theme-color-4: var(--color-green-100);
  --code-theme-color-5: var(--color-green-100);
  --code-theme-color-comment: var(--color-green-100);
}
