:root {
  --text-xxl: 2rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-sm: 0.75rem;
  --text-xs: 0.625rem;
}

/*
 * TODO variable-ize min-width -- put in root??
 */

@media screen and (min-width: 768px) {
  :root {
    --text-xxl: 3rem;
    --text-xl: 2rem;
    --text-lg: 1.5rem;
    --text-md: 1.25rem;
    --text-sm: 1rem;
    --text-xs: 0.75rem;
  }
}
